/* Enter your custom styles here */
 
.header .sapMIBar-CTX .sapMTitle {
  color: #ff6f00;
  text-shadow: 0 0 6px rgba(255, 111, 0, 0.5);
}

html.sap-desktop .sapMIBar.sapMFooter-CTX {
  background: linear-gradient(90deg, #ff512f, #dd2476);
  color: white;
}